<div class="row">
   <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
      <div class="sidebar-header">
       <h3 class= "chapter">Chapters</h3>
      </div>
      <% @book.chapters.each do  |chapter|%>
      <ul>
       <%= link_to book_chapter_path(@book,chapter),class:'text' do %>
       <hr>
       <li class="text-center"> <%= chapter.title%></li>
       <% end %>
      </ul>
     <%end%>
    </div>
   </nav> 

 <div class="col-md-10">
   <div class="border border-white">
     <%= link_to 'BACK', books_path,class:'btn btn-secondary' %> 
   </div>
   <hr>
   <div class="title border">
    <h1 class="c-title "><%=@chapter.title%></h1>
   </div>
   <div class="description">
    <p class="p-text"> <%=@chapter.body%></p>
   </div>
</div>

 <%#=link_to 'show', book_chapter_path(@book, chapter),class:'btn btn-primary'%>
        
            <%#= link_to chapter.title, book_chapter_path(@book, chapter),class:'btn btn-default' %> 



